
#compiled files
*.o
*.img
*.out

#folders

src/architecture/ia32/*
#include/system/*

#binary/generated
app/philosophers_dinner
app/philosophers_dinner_traits.h
app/producer_consumer
app/producer_consumer_traits.h
