
#compiled files
*.o
*.img
*.out

#generated
src/architecture/ia32/ia32_crt0.s
lib/*

#binary/generated
app/philosophers_dinner
app/philosophers_dinner_traits.h
app/producer_consumer
app/producer_consumer_traits.h
